.about-conclusion {
  margin: 0 auto;
}

.about-text {
  padding-bottom: 4vh;
  padding-top: 3vh;
}

@media(min-width: 992px) {
  .about-conclusion {
    width: 80%;

    p {
      flex-grow: 1;
      padding-top: 0;
    }
  }

  .about-text {
    padding: 0 3vw;
    flex-grow: 1;
  }
}
